<partial name="_Content-Header" model="@(
new Tuple<string, Dictionary<string,string?>>(
"دشبرد",
    new Dictionary<string, string?>(
        new List<KeyValuePair<string,string?>>(){
        new KeyValuePair<string, string?>("خانه","/")
        })))" />

<section class="content">
    <div class="container-fluid">

    </div>
</section>
